<% unless @user.nil? %>
プロフィール<br>
ニックネーム：<%= @user.nickname %>
<br>
<%= image_tag(@user.image, width: "300px") %>
<% end %>

<br>
部屋の作成
<%= form_for(@room, remote: true) do |f| %>
  <%= f.text_field :name %>
<%= f.submit "部屋作成" %>
 <% end %>

<div id="new_room">

</div>



<br>
部屋一覧
<div id="rooms">
<a href="#">リンク1</a>
</div>


<% @rooms.each do |room| %>
<%= link_to "#{room.name}", room_path(room) %>
<% end %>
