




<div id="rooms_layout">
<!--  <% unless @user.nil? %>

プロフィール<br>
  <p id="nickname">ニックネーム：<%= @user.nickname %></p>
<%= image_tag(@user.image, width: "300px") %>
<% end %> -->

<br>
部屋の作成
<%= form_for(@room, remote: true) do |f| %>
  <%= f.text_field :name %>
<%= f.submit "部屋作成" %>
 <% end %>




<br>
部屋一覧
<div id="rooms">
<a href="#">リンク1</a>
</div>

// <script>
// var nickname = $('#nickname').text();
// console.log(nickname);
//   </script>

<% @rooms.each do |room| %>
<!-- <%= link_to "#{room.name}", "/rooms/#{@room.id}" %> -->
<%= link_to "#{room.name}", controller: "rooms", action: "show", id: room.id, nickname: @user.nickname %>
<% end %>


</div>



